@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Global Styles Starts Here */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Montserrat',sans-serif; 
background: #f5f5f5;}

a { text-decoration: none; }


/* Global Styles Ends Here */

/* Top Menu Starts Here */
.top-menu { background-color: #191919; }
.top-container { display: flex; width: 1170px; margin: 0 auto; align-items: center; justify-content: space-between; }
.sign-up-language, .social-icons { display: flex; }
.social-icons { align-items: center; justify-content: center; list-style: none; }
.social-icons li { margin-top: 1px; }
.social-icons a { font-size: 0px; }
.sign-up-language a { color: #fff; display: flex; margin-left: 2px; }
.social-icons i { font-size: 17px; padding: 1px 14px 0 0; color: #707070; text-align: right; display: flex; justify-content: center; }
.sign-up-language i { font-size: 18px; width: 16px; height: 16px; margin: 12px 0; color: #707070; }
.sign-up-language a span { font-size: 12px; color: #8c8c8c; font-weight: 400; text-transform: uppercase; text-align: center; line-height: 20px; margin-left: 5px; padding: 11px 0 9px; }
.top-right-container { display: flex; justify-content: center; align-items: center; }
#sing-in-span { margin-left: 7px; }
.my-arrow-down { color: #858585; font-size: 20px; letter-spacing: 1px; }
.vertical-line { display: inline-block; width: 1px; height: 20px; background-color: #545454; margin: 11px 12px 9px 15px; }

/* Top Menu Ends Here */

/* Main Header Starts Here */
.main-header { width: 1170px; margin: 0 auto; display: flex; justify-content: space-between; }
.main-header ul { display: flex; list-style: none; align-items: center; }
.main-header a { text-decoration: none; color: #fff; text-align: center; }
.main-header-logo { margin-right: 128px; }
.main-header-logo a { display: inline-block; font-size: 24px; line-height: 36px; text-transform: uppercase; font-weight: 700; margin: 14px 0 20px; text-align: start; }
.main-header-navbar {  margin-right: 18px;}
.main-header-navbar li { font-size: 15px; text-transform: uppercase; font-weight: 700; display: flex; padding-right: 23px; }
.main-header-navbar li a { display: flex; align-items: center; text-align: center; position: relative; }
.material-icons.md-18 { font-size: 18px; }
.main-header-navbar li a i { padding-left: 5px; }
.main-header-home { position: relative; display: flex; align-items: center; }
.main-header-home i { padding: 0 0 1px 5px; }
.main-header-navbar a::after { content: ""; position: absolute; top: 40px; left: 0; width: 0%; height: 4px; background-color: #ff4081; transition: 0.3s; }
.main-header-navbar a:hover::after { width: 100%; }
.main-header-right { display: flex; align-items: center; justify-content: flex-end; margin-right: 58px;
justify-self: flex-start;}
.main-header-right a { display: flex; align-items: center; border-right: 1px solid #5c5c5b; line-height: 30px; margin-top: 16.5px;margin-bottom: 16.5px; margin-right: 12px;}
.main-header-right a i { font-size: 25px; color: #fff; text-align: center; padding-right: 10px; padding-top: 3px; padding-bottom: 2px;}
.main-header-right a:last-child { border-right: none; }
/* Main Header Ends Here */

/* Main Header Title Starts Here */
.background-image-container { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/bg.png'); background-size: cover; }
.header-title-container { color: #fff; display: flex; margin-top: 210px; }
.title-keyboard-arrow-left { margin: 0 70px 0 42px; }
.title-keyboard-arrow-right { margin: 0 42px 0 280px; }
.header-title-main { margin-left:332px; margin-right: 350px;}
.header-title-captions { text-align: center; text-transform: uppercase; margin-bottom: 70px;}
.header-title-captions div { margin-bottom: 12px; }
.header-title-captions h4 { font-size: 22px; color: #bdbebe; padding-left: 29px; margin-bottom: 12px; font-weight: 500; }
.header-title-captions h1 { display: block; font-size: 43px; color: #fff; font-weight: 800; line-height: 51px; margin-bottom: 14px; padding-top: 1px; margin-left: 13px; }
.header-title-btn { font-size: 18px; line-height: 16px; display: inline-block; color: #fff; border-radius: 22px; filter: drop-shadow(0px 17px 12px rgba(48, 63, 159, 0.2)); background-color: #303f9f; padding: 15px 29px 13.5px 26px; margin: 16px 0 0 20px; }
.header-title-author {  display: flex; flex-direction: column; align-items: center; padding-left: 11px;}
.header-author-image { margin-top: 10px; margin-bottom: 15px; width: 50px; height: 50px; border-radius: 50%; display: block; background-image: url('./assets/author_resizeed.png'); background-repeat: no-repeat; margin-left: 5px;}
.header-author-name { color: #fff; font-size: 14px; margin-bottom: 5.5px; font-weight: 600; ; margin-top: 1.5px;}
.header-title-date-time { margin-left: 19px;  }
.header-title-date-time span, .header-title-date-time a { display: inline-block; font-size: 12px; margin-right: 13px; color: #8e8e8e; font-weight: 600;}
.header-title-comments-likes { color: #aeaeae; font-size: 13px; display: flex; align-items: center; margin-top: 31px; margin-bottom: 65px; justify-content: center; padding-left: 39px; padding-top: 1px;}
.header-title-comments-likes i { font-size: 18px; padding-right: 5px; }
.header-title-comments-likes a { text-decoration: none; color: #aeaeae; display: flex; align-items: center; margin-right: 25px; font-weight: 600;}
/* Main Header Title Ends Here */

/* Body Starts Here */

/* Artcile 1 Starts Here */
.main-body-container { background-color: #f5f5f5; }
.articles-sidebar-container {display: flex;}
.articles-sidebar-container a {color: #212121}
.main-body-sidebar {background-color: white; margin-top: 30.5px; border-radius: 4px; flex-grow: 1;}
.sort-blog-container { background-color: white; }
.body-sort-blog { width: 1170px; margin: 0 auto; display: flex; text-transform: uppercase; font-size: 12px; padding: 23.5px 0 22.5px 0;}
.body-sort-blog span { padding-right: 20px; font-weight: 800; }
.body-sort-blog ul { display: flex; list-style: none; }
.body-sort-blog ul li { margin-right: 16px; }
.body-sort-blog ul li a { font-weight: 600; padding: 7.5px 30px 5.5px 26px; color: #202020; background-color: #f5f5f5;border-radius: 18px; }
.body-sort-blog ul li a:hover { color: #3f51b5; border: 1px solid #3f51b5;}
.main-body-articles { width: 53.98%; color: black; margin: 0 40px 0 175.6px;}
.article-1-container { margin-top: 30.5px; border-radius: 4px; filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12)); background-color: white;}
.article-1-image {  height: 420px; display: flex; flex-direction: column; align-items: center; background-image: url('./assets/article_1.png'); background-repeat: no-repeat; text-transform: uppercase; position: relative; justify-content: center
    ;}
.article-1-image i { font-size: 18px; padding-right: 5px; }
.article-1-image a { display: flex; align-items: center; color: white; position: absolute; font-size: 13px; }
#artcile-1-btn i { font-size: 60px; }
#artcile-1-btn { margin-left: 5px; }
#aticle-1-category { bottom: 16.8px; left: 19px; font-weight: 600; font-size: 12px; }
#article-1-comments { bottom: 15.5px; right: 74.34px; }
#article-1-likes { bottom: 15.5px; right: 19.94px;  }
.article-1-info a h3 { font-size: 18px; padding: 14.5px 0 0 16px; margin-left: 4px; word-spacing: 1px; font-weight: 800;}
.article-1-info p { font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight:600; padding: 5px 15px 14px 18.5px; line-height: 26px; color: #3d3d3d; border-bottom: 1px solid #e0e0e0}
.article-1-footer { display: flex; align-items: center; padding: 15px 0 20px 20px; margin-bottom: 21px;}
.author-1-image-container { width: 50px; height: 51px; margin-top:5px; background-image: url('./assets/author_1.png'); }
.article-1-meta { display: flex; flex-direction: column; font-size: 15px; margin: 1px 0 0 6px; }
.article-1-meta-more {display: flex; justify-content: space-between; flex-grow: 1;}
.article-1-meta a { margin-top: 2px; font-weight: 600; padding: 2px 0 0.5px 3px;}
.article-1-meta > a {padding-left: 4px;}
.article-1-meta span, .article-1-date-time a { display: inline-block; font-size: 14px; font-weight: 500; padding-top: 3px; margin-right: 2px; color: #878787; }
.article-1-more { padding-top: 10.5px; margin-right: 9px;}
.article-1-footer a i {font-size: 28px; }
/* Artcile 1 Ends here */

/* Artcile 234 Start Here */
.article-234-main-container { display: flex; flex-direction: column; gap:20px; margin-bottom: 20px; }
.article-234-container { background-color: white; display: flex; border-radius: 4px; }
.article-234-container a { color: #212121; }
.article-234-image-container { width: 260.5px; height: 165.5px; background-image: url('./assets/aricle_2.png'); background-size: cover; position: relative; display: flex; justify-content: center; align-items: center; }
.article-234-image-container a { text-transform: uppercase; color: white; position: absolute; font-size: 13px; display: flex; align-items: center ; }
.article-234-image-container a i { font-size: 18px; padding-right: 5px; }
#artcile-234-btn i{font-size: 50px; padding-right: 1px; padding-top: 1px;}
#article-234-category { bottom: 16.8px; left: 19px; font-weight: 600; font-size: 12px; }
#article-234-comments { bottom: 15.5px; right: 73.34px; }
#article-234-likes { bottom: 15.5px; right: 20.94px; }
#article-234-likes i { padding-right: 4px; }
.article-234-info { padding-top: 9px; flex-basis: 67%; flex-grow:1 ; }
.article-234-info h3 { font-size: 17px; font-weight: 700; padding-bottom: 6px; padding-left: 18px; }
.article-234-info p { display: inline-block; font-size: 15px; font-family: 'Open Sans', sans-serif; font-weight: 500; padding-top: 2px; color: #3d3d3d; padding-left: 17px; padding-bottom: 16.5px; border-bottom: 1px solid #e0e0e0; }
.article-234-footer { display: flex; padding-top: 4px; padding-left: 1px; }
.article-234-author { width: 50px; height: 50px; border-radius: 50%; background-image: url('./assets/author_2.png'); margin-left: 20px; margin-top: 6px; }
.article-234-meta { display: flex; flex-direction: column; margin-top: 9px; margin-left: 7px; }
.article-234-meta a { font-size: 15px; padding-top: 2px; padding-left: 2px; font-weight: 600; }
#article-234-date { font-size: 13px; font-weight: 600; color: #878787; padding-top: 5.75px; padding-left: 1px; }
.article-234-meta-more { display: flex; flex-grow: 1; justify-content: space-between; }
.article-234-footer a i { font-size: 28px; padding-top: 1px; }
.article-234-meta-more > a { margin-right: 9px; margin-top: 15.5px; font-size: 16px; }
#article-3 { background-image: url('./assets/article_3.png'); }
#article-4 { background-image: url('./assets/article_4.png'); }
/* Article 234 Ends Here */

/* Article 567 Starts Here */
.article-567-main-container {
    display: flex;
    gap: 20px;
}

.article-567-container {
    flex: 1;
    background-color: white;
}

.article-567-image-container {
    background-image: url('./assets/article_5.png');
    height: 160px;
}

/* Article 567 Ends Here */








/* Sidebar Starts Here */

.main-container-sidebar {
    width: 64%;
    display: flex;
    justify-content: center;
}

.sidebar-search {
    display: flex;
    border-radius: 28px;
    background-color: #f5f5f5;
    /* background-color: pink; */
    margin: 10px;
    margin-top: 22px;
    align-items: center;
    border: 1.25px solid #ffffff;
}

.sidebar-search input[type="search"] {
    border: none;
        /* background: transparent; */
    background-color: inherit;
    /* border: inherit; */
        border-radius: inherit;
        /* padding: 10px; */
        padding-bottom: 6px;
        padding-top: 8px;
        padding-left: 20px;
        padding-right: 40px;
}

.sidebar-search input[type="search"]::placeholder {
    color: #a4a4a4;
    font-size: 16px;
    font-family: "Open Sans";
}

.sidebar-search button[type="submit"] {
    border: 1px solid transparent;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.12));
        background-color: #ff4081;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-search input[type="search"]:focus {
    outline: none;
}