@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Global Styles Starts Here */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Montserrat',sans-serif;}
a { text-decoration: none; }
/* Global Styles Ends Here */

/* Top Menu Starts Here */
.top-menu { background-color: #191919; }
.top-container { display: flex; width: 1170px; margin: 0 auto; justify-content: space-between; }
.sign-up-language, .social-icons { display: flex; }
.social-icons { align-items: center; list-style: none; }
.social-icons li { margin: 2px 14px 0 0; }
.sign-up-language a { color: #fff; display: flex; margin-left: 2px; }
.social-icons i { font-size: 17px; color: #707070; display: flex;}
.sign-up-language i { font-size: 18px; width: 16px; height: 16px; margin: 12px 0; color: #707070; }
.sign-up-language a span { font-size: 12px; color: #8c8c8c; font-weight: 400; text-transform: uppercase; line-height: 20px; margin-left: 5px; padding: 11px 0 9px; }
.sign-up-language .sing-in-span { margin-left: 7px; }
.vertical-line { width: 1px; background-color: #545454; margin: 11px 12px 9px 15px; }
/* Top Menu Ends Here */

/* Main Header Starts Here */
.main-header { width: 1170px; margin: 0 auto; display: flex;}
.main-header a { color: #fff; }
.main-header-logo { display: inline-block; font-size: 24px; line-height: 36px; text-transform: uppercase; font-weight: 700; margin: 14px 115px 20px 0; }
.main-header-navbar { display: flex; list-style: none; align-items: center; margin-right: 38px;}
/* .main-header-navbar li:first-child {padding-left: 13px;} */
.main-header-navbar li { font-size: 15px; text-transform: uppercase; font-weight: 700; margin-right: 23px; margin-top: 25px; border-bottom: 4px solid transparent; margin: 25px 10px 0 0; padding-left: 13px;}
.main-header-navbar li a { display: flex; padding-bottom: 22px; }
.main-header-navbar li a i { margin-left: 4px; font-size: 18px; }
.main-header-navbar .active-navbar { border-bottom-color: #ff4081; }
.main-header-navbar li:hover { border-bottom-color:#ff4081; transition: 0.3s ease-in-out; }
.main-header-right { display: flex; align-items: center; margin-right: 2px; }
.main-header-right a { display: flex; border-right: 1px solid #5c5c5b; margin-top: 16.5px;margin-bottom: 16.5px; margin-right: 12px; margin: 16.5px 12px 16.5px 0;}
.main-header-right a i { font-size: 25px; padding-right: 10px; padding-top: 3px; padding-bottom: 2px; padding: 3px 10px 2px 0; }
.main-header-right a:last-child { border-right: none; margin-right: 0;}
/* Main Header Ends Here */

/* Main Header Title Starts Here */
.background-image-container { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./assets/bg.png'); background-size: cover; background-repeat: no-repeat; background-position: center;}
.header-title-container { color: #fff; display: flex; width: 1170px; margin: 210px auto 0; }
.header-title-captions { text-align: center; text-transform: uppercase; margin-bottom: 70px;}
.header-title-captions h4 { font-size: 22px; color: #bdbebe; margin-left: 11px; margin-bottom: 12px; font-weight: 500; margin: 0 0 12px 11px;}
.header-title-captions h1 { font-size: 43px; font-weight: 800; line-height: 51px; margin: 0 74px 14px 70px; padding: 1px 0 0; }
.header-title-btn { font-size: 18px; line-height: 16px; display: inline-block; color: #fff; border-radius: 22px; filter: drop-shadow(0px 17px 12px rgba(48, 63, 159, 0.2)); background-color: #303f9f; padding: 15px 29px 13.5px 26px; margin: 16px 0 0 3px; }  
.header-title-author {  display: flex; flex-direction: column; align-items: center; }
.header-author-image { margin-top: 10px; margin-bottom: 15px; width: 50px; height: 50px; border-radius: 50%; background-image: url('./assets/author_resizeed.png'); background-size: cover; background-repeat: no-repeat; background-position: center; margin: 10px 0 15px;}
.header-author-name { color: #fff; font-size: 14px; margin-bottom: 5.5px; font-weight: 600; ; margin-top: 1.5px; margin-right: 7px; margin: 1.5px 7px 5.5px 0;}
.header-title-author > div a { font-size: 12px; color: #8e8e8e; font-weight: 600; margin-left: 1px;}
.header-title-author > div a span {margin-left: 11px;}
.header-title-comments-likes { font-size: 13px; display: flex; margin-top: 31px; margin-bottom: 65px; justify-content: center; padding-left: 22px; padding-top: 1px; margin: 31px 0 65px 0; padding: 1px 0 0 22px; }
.header-title-comments-likes i { font-size: 18px; padding-right: 5px; }
.header-title-comments-likes a { color: #aeaeae; display: flex; align-items: center; margin-right: 25px; font-weight: 600; margin-left: 0.5px; margin: 0 25px 0 0.5px;}
/* Main Header Title Ends Here */

/* Body Starts Here */
.main-body-container { background-color: #f5f5f5; }
.articles-sidebar-container {display: flex;}
.articles-sidebar-container a {color: #212121}
.main-body-sidebar {background-color: white; margin-top: 30.5px; border-radius: 4px; flex-grow: 1;}
.sort-blog-container {background-color: white;}
.body-sort-blog { width: 1170px; margin: 0 auto; display: flex; text-transform: uppercase; font-size: 12px; padding: 23.5px 0 22.5px 0;}
.body-sort-blog span { padding-right: 20px; font-weight: 800; }
.body-sort-blog ul { display: flex; list-style: none; }
.body-sort-blog ul li { margin-right: 17px; }
.body-sort-blog ul li a { font-weight: 600; padding: 7.5px 29px 5.5px 26px; color: #202020; background-color: #f5f5f5;border-radius: 18px; }
.body-sort-blog .active-blog-category a {color: #3f51b5; outline: 1px solid #3f51b5;}
.body-sort-blog ul li a:hover{ color: #3f51b5; outline: 1px solid #3f51b5;}
.main-body-articles { width: 820px;color: black; margin-right: 40px; margin-left: calc((100% - 1170px) /2 + 1px); }
.main-body-articles h3 a:hover, .main-body-articles h4 a:hover { color: #3f51b5; }

/* Artcile 1 Starts Here */
.article-1-container { margin-top: 30.5px; margin-bottom: 21px; border-radius: 4px; filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12)); background-color: white;}
.article-1-image { height: 420px; background-image: url('./assets/article_1.png'); text-transform: uppercase; position: relative; background-size: cover; background-repeat: no-repeat; background-position: center;}
.article-1-image i { font-size: 18px; padding-right: 5px; }
.article-1-image a {  color: white; position: absolute; }
.artcile-1-btn i { font-size: 60px; }
.artcile-1-btn { top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: 3px; padding-top: 2px; }
.aticle-1-category { bottom: 16.8px; left: 19px; font-weight: 600; font-size: 12px; }
.article-1-comments { bottom: 16px; right: 73.5px; font-size: 13px; display: flex; align-items: center;}
.article-1-likes { bottom: 15px; right: 19.5px; font-size: 13px; display: flex; align-items: center;}
.articles-1-likes i {padding-top: 2px; padding-left: 1px; padding: 1px 0 0 1px;}
.article-1-info h3 { font-size: 18px; padding: 14.5px 0 0 16px; margin-left: 4px; word-spacing: 1px; font-weight: 800; }
.article-1-info p { font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight:500; padding: 5px 15px 14px 18.5px; line-height: 26px; color: #3d3d3d; border-bottom: 1px solid #e0e0e0}
.article-1-footer { padding: 15px 9px 17px 20px; }
.author-1-image-container { width: 50px; height: 50px; margin-top:5px; display: inline-block; background-image: url('./assets/author_1.png'); background-size: cover; background-repeat: no-repeat; background-position: center;}
.article-1-footer > div { display: inline-block; font-size: 15px; vertical-align: top; padding-top: 10px; padding-left: 5px; padding: 10px 0 0 5px;}
.article-1-footer > div > p { padding-top: 4.5px; }
.article-1-more { float: right; margin-top: 15px; }
.article-1-footer > div > a { margin-top: 6.5px; font-weight: 600; margin-left: 1px; margin: 6.5px 0 0 1px;}
.article-1-footer span { padding-left: 4px; }
.article-1-footer > div > p a {font-size: 13px; font-weight: 600; color: #9a9a9a; }
.article-1-footer a i {font-size: 28px; }
/* Artcile 1 Ends here */

/* Artcile 234 Start Here */
.article-234-main-container { filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12));}
.article-234-container { background-color: white; display: flex; border-radius: 4px; margin-bottom: 20px;}
.article-234-image-container { width: 260.5px; height: 165.5px; background-image: url('./assets/aricle_2.png');  position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; }
.article-234-image-container a { text-transform: uppercase; color: white; position: absolute;  }
.article-234-image-container a i { font-size: 18px; padding-right: 5px; }
.article-234-image-container .artcile-234-btn i{ font-size: 48px; }
.artcile-234-btn { top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: 3px; padding-top: 4px;}
.article-234-category { bottom: 16.8px; left: 19px; font-weight: 600; font-size: 12px; }
.article-234-comments { bottom: 15.5px; right: 73.34px; font-size: 13px; display: flex; align-items: center;}
.article-234-likes { bottom: 15.5px; right: 20px; font-size: 13px; display: flex; align-items: center;}
.article-234-likes i { padding-right: 4px; }
.article-234-info { padding-top: 9px; flex-basis: 67%; flex-grow:1 ; }
.article-234-info h3 { font-size: 17px; font-weight: 800; padding-bottom: 6px; padding-left: 18px; padding: 0 0 6px 18px;}
.article-234-info > p { font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 500; padding-top: 1px; color: #3d3d3d; padding-left: 17px; padding-bottom: 15.5px; border-bottom: 1px solid #e0e0e0; line-height: 21px; letter-spacing: 0.2px; word-spacing: 1.5px; padding: 1px 0 15.5px 17px;}
.article-234-author { display: inline-block; width: 50px; height: 50px; border-radius: 50%; background-image: url('./assets/author_2.png'); margin-left: 21px; margin-top: 10px; background-size: cover; background-repeat: no-repeat; background-position: center; margin: 10px 0 0 21px;}
.article-234-footer p { display: inline-block; vertical-align:top; margin-top: 15px; }
.article-234-footer p a { display: block; font-size: 15px; margin-left: 5px; font-weight: 600; }
.article-234-footer .article-234-date { font-size: 13px; color: #9a9a9a; margin-top: 6px; margin-left: 4px; margin:6px 0 0 4px ; }
.article-234-more { font-size: 28px; float: right; margin-top: 19.5px; margin-right: 11px; margin: 19.5px 11px 0 0;}
#article-3 { background-image: url('./assets/article_3.png'); }
#article-4 { background-image: url('./assets/article_4.png'); }
/* Article 234 Ends Here */

/* Article 567 Starts Here */
.article-567-main-container { display: flex; gap: 20px; margin-bottom: 21px; filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12)); }
.article-567-container { flex: 1; background-color: white; border-radius: 4px; }
.article-567-image-container { background-image: url('./assets/article_5.png'); width: 260px; height: 161px; position: relative;  background-size: cover; background-repeat: no-repeat; background-position: center;}
.article-567-image-container a { color: white; position: absolute; text-transform: uppercase; }
.article-567-image-container a i { font-size: 18px; padding-right: 5px; }
#article-7 .article-7-arrow-left i, #article-7 .article-7-arrow-right i { color: #3f51b5; background-color: white; font-size: 25px; padding-top: 6px; padding-bottom: 5px; padding-left: 6px; }
#article-7 .article-7-arrow-left:hover i, #article-7 .article-7-arrow-right:hover i { color: white; background-color: #3f51b5; }
.article-7-arrow-left { left: 10px; top: 37%; }
.article-7-arrow-right { right: 10px; top: 37%; }
.article-567-image-container .artcile-567-btn i { font-size: 48px;  }
.artcile-567-btn { top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: 3px; padding-top: 4px;}
.article-567-category { bottom: 12px; left: 19px; font-weight: 600; font-size: 12px; }
.article-567-comments { bottom: 11px; right: 72.34px; font-size: 13px; display: flex; align-items: center;}
.article-567-likes { bottom: 11px; right: 19px; font-size: 13px; display: flex; align-items: center;}
.article-567-likes i { padding-right: 4px; }
#article-7 .article-567-comments { right: 67px; }
.article-567-desc {padding-bottom: 25px; border-bottom: 2px solid #e0e0e0;}
.article-567-desc h4 { font-size: 15px; font-weight: 800; padding-top: 11px; padding-left: 19px; line-height: 24px; padding: 11px 0 0 19px; }
.article-567-desc p { font-size: 14px; line-height: 21px; padding-left: 19px; padding-right: 25px; padding-top: 6.5px; padding-bottom: 23px; font-family: 'Open Sans', sans-serif; font-weight: 500; color: #3d3d3d; padding: 6.5px 25px 0 19px; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; }
.article-567-footer { margin-bottom: 15px; }
.article-567-author { display: inline-block; width: 50px; height: 50px; border-radius: 50%; background-image: url('./assets/author_2.png'); margin-left: 20px; margin-top: 15px; background-size: cover; background-repeat: no-repeat; background-position: center; margin: 15px 0 0 20px;}
.article-567-footer p { display: inline-block; vertical-align: top; }
.article-567-footer p a { display: block; font-size: 15px; margin-top: 19.5px; margin-left: 5px; font-weight: 600; margin: 19.5px 0 0 5px;}
.article-567-footer .article-567-date { font-size: 13px; color: #9a9a9a; margin-top: 6px; margin-left: 4.5px; margin: 6px 0 0 4.5px;}
.article-567-more { font-size: 28px; float: right; margin-top: 33px; margin-right: 10px; margin: 33px 10px 0 0;}
#article-6 { background-image: url('./assets/article_6.png'); } 
#article-7 { background-image: url('./assets/article_7.png'); }
.author-6 { background-image: url('./assets/author_3.png'); }
.author-7 { background-image: url('./assets/author_1.png'); }
/* Article 567 Ends Here */

/* Article 89 Starts Here */
.article-89-main-container { display: flex; gap: 20px; filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12)); }
.article-89-container { flex: 1; background-color: white; border-radius: 4px;}
.article-89-image-container { width:400px; height:  300px; background-image: url('/assets/article_8.png'); position: relative; background-size: cover; background-repeat: no-repeat; background-position: center;}
.article-89-image-container a { color: white; text-transform: uppercase; font-weight: 500; position: absolute; display: flex; align-items: center;}
.article-89-image-container a i { font-size: 17px; padding-right: 6px; }
.article-89-category { bottom: 18px; left: 19px; font-weight: 600; font-size: 12px; }
.article-89-comments { bottom: 16px; right: 74px; font-size: 13px; }
.article-89-comments i { padding-top: 3px; }
.article-89-likes { bottom: 17px; right: 19px; font-size: 13px; }
.article-89-likes i { padding-right: 4px; }
.article-89-desc { padding-bottom: 13px; border-bottom: 2px solid #e0e0e0;}
.article-89-desc h4 { font-size: 19px; font-weight: 800; padding-top: 12.7px; padding-left: 20px; padding: 12.7px 0 0 20px;}
.article-89-desc p { font-size: 16px; line-height: 26px; padding-left: 19px; padding-right: 25px; padding-top: 5.75px; padding-bottom: 13px; font-family: 'Open Sans', sans-serif; font-weight: 500; color: #3d3d3d; padding: 5.75px 25px 0 19px;  display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; }
.article-89-info>p::after { content: ""; position: absolute; height: 40px; width: 100%; bottom: 0; left: 0; background: linear-gradient(to right, transparent 59%, rgb(255, 255, 255) 100%); }
.article-89-footer { margin-bottom: 11px; }
.article-89-author { display: inline-block; width: 50px; height: 50px; border-radius: 50%; background-image: url('./assets/author_2.png'); margin-left: 19px; margin-top: 15px; background-size: cover; background-repeat: no-repeat; background-position: center; margin: 15px 0 0 19px;}
.article-89-footer p { display: inline-block; vertical-align: top; margin-top: 19.5px; margin-left: 3px; margin: 19.5px 0 0 3px; }
.article-89-footer p a { display: block; font-size: 15px; font-weight: 600; margin-left: 2px; margin: 0 0 0 2px;}
.article-89-footer .article-89-date { font-size: 13px; color: #9a9a9a; margin-top: 5.5px; margin-left: 2px; margin: 5.5px 0 0 2px;}
.article-89-more { font-size: 28px; float: right; margin-right: 11px; margin-top: 23px; margin: 23px 11px 0 0;}
#article-9 { background-image: url('./assets/article_9.png'); }
.author-9 { background-image: url('./assets/author_3.png'); }
/* Article 89 Ends Here */

/* Article Footer Starts Here */
.articles-sidebar-container .article-more-btn { color: #303f9f; font-size: 17px; font-weight: 600; vertical-align: middle;float: right;margin-top: 42px;margin-bottom: 39px; margin: 42px 0 39px 0;}
.article-more-btn i { font-size: 25px; color: #303f9f; background-color: white; border-radius: 50%; padding: 9px; margin-left: 7px; filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.12)); vertical-align: middle; margin-bottom: 4px;} 
/* Aricle Footer Ends Here

/* Sidebar Starts Here */
.main-container-sidebar { width: 310px; display: flex; flex-direction: column; }

/* Sidebar Search Starts Here */
.sidebar-search { display: flex; border-radius: 28px; background-color: #f5f5f5; margin-top: 23px; border: 1.25px solid #ffffff; margin-left: 40px; margin-bottom: 10px; }
.sidebar-search input { border: none; background-color: inherit; border-radius: inherit; padding-bottom: 6px; padding-top: 8px; padding-left: 18px; padding-right: 44px; }
.sidebar-search input::placeholder { color: #a4a4a4; font-size: 17px; font-family: 'Open Sans',sans-serif; padding-top: 1px; padding-left: 1px;}
.sidebar-search button { border: 1px solid transparent; filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.12)); background-color: #ff4081; border-radius: 50%; cursor: pointer; color: white; padding: 4px; margin: 5px; display: flex; }
.sidebar-search input:focus { outline: none; }
/* Sidebar Search Ends Here */

/* Sidebar Categories Starts Here */
.sidebar-subcontainer { margin-left: 38px; color: #3f51b5; margin-top: 14px; margin-bottom: 27px; }
.sidebar-subcontainer .sidebar-heading { font-size: 19px; text-transform: uppercase; font-weight: 800; padding-bottom: 5px; border-bottom: 1px solid #b8cbff; margin-bottom: 4px; padding-left: 1px; }
.sidebar-categories a { display: block; overflow: auto; border-bottom: 1px solid #ecebeb; padding-bottom: 11px; padding-top: 8px; font-family: 'Open Sans',sans-serif; font-size: 15px; }
.sidebar-categories a:last-child { border-bottom: none; padding-bottom: 0; }
.sidebar-categories a span:first-of-type { float: left; font-weight: 600; }
.sidebar-categories a:hover {color: #3f51b5;}
.sidebar-categories a span:last-of-type { float: right; font-weight: 800; }
/* Sidebar Categories Ends Here */

/* Sidebar Subscribe Starts Here */
.sidebar-subscribe .sidebar-heading { margin-bottom: 10px; }
.subscribe-form input { width: 99.3%; border: 1px solid #e2e2e2; border-radius: 4px; margin-bottom: 11px; padding-top: 14.5px; padding-bottom: 12.5px; margin-left: 2px; text-indent: 15px; }
.subscribe-form input[type="email"] { margin-bottom: 9px; }
.subscribe-form input::placeholder { color: #ababab; font-size: 17px; font-family: 'Open Sans', sans-serif; }
.subscribe-form button { color: white; background-color: #3f51b5; width: 99.3%; padding-top: 13.25px; padding-bottom: 12.25px; padding-left: 10px ; font-size: 17.5px; text-transform: uppercase; font-weight: 500; border-radius: 4px; border: none; letter-spacing: 0.3px; margin-left: 2px; cursor: pointer;}
.subscribe-form label { display: inline-block; margin-bottom: 10.5px; color: black; font-family: 'Open Sans', sans-serif; font-size: 17px; font-weight: 600; }
.subscribe-form { margin-bottom: 10px; }
/* Sidebar Subscribe Ends Here */

.subscribe-or { display: grid; grid-template-columns: 1fr auto 1fr; gap: 6px; color: black; font-weight: 500; font-size: 17px; font-family: 'Open Sans', sans-serif; margin-left: 2px; margin-bottom: 18px; }
.subscribe-or::before,
.subscribe-or::after { content: ""; border-top: 1px solid black; align-self: center; margin-top: 5px; }

/* Sidebar Subscribe Icons Starts Here */
.subscribe-icons { list-style: none; display: flex; justify-content: space-between; margin-left: 3px; margin-bottom: 3px; }
.subscribe-icons a { color: white; display: inline-block; border-radius: 18px; }
.subscribe-icons i { width: 36px; height: 36px; padding: 0 15px; font-size: 18.5px; display: flex; align-items: center; justify-content: center; }
.icon-fb { background-color: #3b5999;}
.icon-twt { background-color: #55acee; }
.icon-vk { background-color: #4c75a3; }
.icon-pinterest { background-color: #ff2e56; }
.icon-tumblr { background-color: #34465d; }
.icon-dribble { background-color: #ea4c89; }
/* Sidebar Subscribe Icons Ends Here */

/* Sidebar Widget Starts Here */
.sidebar-tab-widget { margin-bottom: 31px; }
.sidebar-tab-widget .sidebar-heading { margin-bottom: 9.5px; }
.tab-post-btn-container { margin-left: 2px; overflow: auto; padding-top: 10px; padding-bottom: 5px; }
.tab-post-btn-container .tab-widget-post-btn { font-size: 12px; text-transform: uppercase; width: 50%; float: left; text-align: center; padding: 12px 0; padding-bottom: 11px; padding-top: 12px; border: 1px solid #3f51b5; border-radius: 4px; color: #3f51b5; }
.tab-widget-post-btn.active-tab-post, .tab-widget-post-btn:hover { color: white; background-color: #3f51b5; }

/* Widget Card */
.tab-widget-card { margin-left: 2px; padding-top: 9px; padding-bottom: 15px; overflow: hidden; clear: both; border-bottom:1px solid #dee5e9; }
.tab-widget-image { float: left; width: 100px; height: 80px;  background-size: cover; background-repeat: no-repeat; background-position: center; margin-right: 14px; margin-top: 6px; }
.widget-1 .tab-widget-image { background-image: url('/assets/tabpost_1.png'); }
.widget-2 .tab-widget-image { background-image: url('/assets/tabpost_2.png'); }
.widget-3 .tab-widget-image { background-image: url('/assets/tabpost_3.png'); }
.widget-4 { border: none; padding-bottom: 0; }
.widget-4 .tab-widget-image { background-image: url('/assets/tabpost_4.png'); }
.tab-widget-card a { font-size: 13px; font-weight: 600; font-family: 'Open Sans', sans-serif; }
.tab-widget-card .tab-widget-date { display: inline-block; margin-bottom: 1px; color: #646464; }
.tab-widget-card .tab-widget-comment { color: #b8c4cc; float: right; margin-top: 1.5px; }
.tab-widget-comment i { color: #3f51b5; font-size: 15px; }
.tab-widget-card h4 a { font-size: 15px; line-height: 21px; font-weight: 700; }
.tab-widget-card h4 a:hover { color: #3f51b5; }
/* Sidebar Widget Ends Here */

/* Sidebar Tags Starts Here */
.sidebar-tags div { margin-left: 2px; display: flex; flex-wrap: wrap; gap: 11px 10px; }
.sidebar-tags .sidebar-heading { margin-bottom: 21px; }
.sidebar-tags a { padding: 3px 15.5px 7px 14.5px; font-size: 14px; color: #525252; background-color: #eeeeee; border-radius: 5px; font-weight: 700; font-family: "Open Sans"; }
.sidebar-tags a:hover { background-color: #3f51b5; color: #eeeeee; }
/* Sidebar Tags Ends Here */

/* Image SLider Starts Here */
.slider-main-container { display: flex; overflow-x: hidden; }

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slider-main-container:hover .image-slider-container { animation-play-state: paused; }
.image-slider-container { display: flex; 
    /* animation: 7s slide infinite linear;  */
}
.image-slider-container div { background-size: cover; background-repeat: no-repeat; background-position: center; min-width: 242px;   min-height: 240px;}
.slider-1 { background-image: url('assets/slider_1.png'); }
.slider-2 { background-image: url('assets/slider_2.png'); }
.slider-3 { background-image: url('assets/slider_3.png'); }
.slider-4 { background-image: url('assets/slider_4.png'); }
.slider-5 { background-image: url('assets/slider_5.png'); }
.slider-6 { background-image: url('assets/slider_6.png'); }
.slider-7 { background-image: url('assets/slider_7.png'); }
.slider-8 { background-image: url('assets/slider_8.png'); }
/* Image Slider Ends Here */

/* Footer Starts Here */
footer { background-color: #212121; }
/* Footer Subscribe Starts Here */
.footer-subscribe-container { background-image: linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.85)), url('assets/footer_subscribe.png'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.footer-subscribe { display: flex; color: white; align-items: center; width: 1170px; margin: 0 auto; gap: 39px; }
.footer-subscribe h1 { font-size: 42px; font-weight: 800; letter-spacing: 1.5px; margin-top: 71px; margin-bottom: 77px; }
.footer-subscribe form { display: flex; }
.footer-subscribe input { background: transparent; border-radius: 28px; padding-top: 12px; padding-bottom: 11px; padding-left: 18px; padding-right: 38px; border: 1px solid #747577; font-size: 17px; font-weight: 500; margin-right: 30px; margin-top: 74px; margin-bottom: 73px; }
.footer-subscribe button { filter: drop-shadow(0px 21px 15px rgba(48, 63, 159, 0.2)); background-color: #303f9f; color: white; padding-bottom: 9.5px; padding-top: 11px; padding-left: 31px; padding-right: 30.5px; border-color: transparent; cursor: pointer; font-size: 17.3px; text-transform: uppercase; font-weight: 500; letter-spacing: 0.5px; border-radius: 28px; margin-top: 73px; margin-bottom: 74.5px; }
/* Footer Subscribe Ends Here */

/* Footer Widegts Starts Here */
.footer-widget-container { display: flex; width: 1170px; margin: 0 auto; margin-top: 45px; padding-bottom: 71px; gap: 30px; }
.footer-widget-container > * { flex: 1; color: white; }
.footer-widget-container h3 { text-transform: uppercase; font-size: 19px; margin-bottom: 25px; }

/* Pages Widget Starts Here */
.footer-pages-widget > ul { margin-left: 0.5px; }
.footer-pages-widget li{ list-style: none; margin-bottom: 5px; }
.footer-pages-widget p { text-transform: uppercase; display: flex; align-items: center; justify-content: space-between; font-weight: 700; font-family: "Open Sans"; color: #bdbdbd; cursor: pointer; font-size: 14px; letter-spacing: 1px; padding: 10px 9px 10px 13.5px; border: 1px solid #757575; border-radius: 4px; }
.footer-pages-widget p:hover { color: #ffffff; }
.pages-tab-content { display: none; border: 1px solid #757575; border-radius: 4px; font-size: 15px; font-family: "Open Sans"; padding: 11px 6px 6px 12px; }
.pages-tab-content a { margin-bottom: 16px; display: block; color: #909090; }
.pages-tab-content a:hover { color: #ffffff; }
.pages-tab-content a:last-child { margin-bottom: 13px; }
.pages-tab-active div { display: block; }
/* Pages Widget Ends Here */

/* Twitter Widget Starts Here */
.footer-twitter-widget h3 { margin-bottom: 11px; }
.footer-twitter-widget-card { padding-top: 10px; }
.footer-twitter-widget-card a { color: #bdbdbd; font-family: "Open Sans"; display: flex; font-weight: 500; font-size: 14px; letter-spacing: 0.5px; word-spacing: 1px; margin-left: 9px; }
.footer-twitter-widget-card a i { color: #55acee; font-size: 24px; margin-top: 1.5px; margin-right: 15px; }
.footer-twitter-widget-card a:hover {color: #ffffff;}
.footer-twitter-widget-card a p { line-height: 21.5px; }
.footer-twitter-widget .footer-twitter-widget-card > p { display: flex; align-items: center; margin-top: 4.5px; margin-left: 1px; padding-bottom: 11px; border-bottom: 1px solid #3c3c3c; }
.footer-twitter-widget-card > p a, .footer-twitter-widget-card > p span { color: #888888; font-family: "Open Sans"; font-size: 13px; }
.footer-twitter-widget-card > p i { color: #888888; font-size: 20px; margin-left: 8px; }
.footer-twitter-widget-card > p a { text-decoration-line: underline; margin-left: 6px; margin-right: 2.4px; }
.footer-twitter-widget-card:nth-of-type(3) > p { border-bottom: none; }
/* Twitter Widget Ends Here */

/* Social Widget Starts Here */
.footer-social-widget { margin-top: 13px; }
.footer-social-widget h3 { font-size: 18px; margin-bottom: 15px; }
.footer-social-widget ul { gap: 10px; justify-content:unset; margin-left: 0; margin-bottom: 0; }
/* Social Widget Ends Here */

/* Flickr Widget Starts Here */
.footer-flickr-widget h3 { margin-bottom: 26px; }
.footer-flickr-image-container { display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 7.5px; }
.footer-flickr-image-container a, .footer-flickr-image-container img { width: 85px; height: 85px; }
/* Flickr Widget Ends Here */

/* News Letter Starts Here */
.footer-newsletter h3 { margin-bottom: 26px; }
.footer-newsletter input { color: #909090; border: 1px solid #757575; border-radius: 4px; font-size: 14px; font-family: "Open Sans"; padding-right: 14px; padding-top: 13px; margin-left: 0.5px; padding-left: 13.5px; padding-bottom: 11px; width: 100%; background: transparent; margin-bottom: 10.5px; }
.footer-newsletter button { color: #ffffff; background-color: #303030; padding: 10px; font-family: "Open Sans"; font-weight: 600; border: none; border-radius: 4px; text-transform: uppercase; margin-left: 2px; margin-top: 1px; letter-spacing: 1px; cursor: pointer; width: 100%; }
.footer-newsletter textarea { background: transparent; border-radius: 4px; padding-left: 13.5px; padding-top: 12px; padding-bottom: 10px; font-family: "Open Sans"; font-size: 14px; margin-bottom: 6px; resize: none; width: 100%; margin-left: 0.5px; color: #909090; }
/* News Letter Ends Here */

/* Footer Bottom Starts Here */
.footer-bottom { background-color: #303030; }
.footer-bottom-container { width: 1170px; margin: 0 auto; height: 100px; }